*, *:before, *:after {
  box-sizing: border-box
}

html {
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
}

body {
  height: 100%;
  margin: 0;
  padding: 0
}

h1, h2, h3, h4, h5, h6 {
  margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

// h1, h2, h3, h4, h5, h6 {
//     font-weight: normal
// }

a, a:hover {
  text-decoration: none;
}

a:focus,
a:active,
a:hover {
  outline: 0
}

p {
  padding: 0;
  margin: 0
}

img, figure, legend, fieldset {
	padding: 0;
	margin: 0;
	border: 0
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
}

button, input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;

  &:focus {
      outline: 0
  }

  &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
}

button {
    cursor: pointer
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox
}

input[type="radio"] {
  -webkit-appearance: radio;
     -moz-appearance: radio;
          appearance: radio
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

th, td {
	padding: 0
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none
}

dl, dd {
  margin: 0
}
