.footer {
  // position: fixed;
  // bottom: 0;
  width: 100%;
  display: block;
  height: 60px;
  margin-top: 30px;
  background: $blue;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: #fff
}
